@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Tutorial Case
   
   Reset Style Sheet for the Pandaisia Chocolates Website
   Author: Larry William
   Date:   6 Nov 2020
   
   
   Filename: pc_reset.css

*/

/* Structural Styles */




/* Typographic Styles */

